.cards {
  border: 2px dotted grey;
  padding: 5px;
  height: inherit;
  background: #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.workers-cards {
  padding: 20px;
  width: 50%;
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  margin: 30px auto;;
}

.worker-img {
  border: 2px dotted grey;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: 20px;
  align-content: center;
  align-items: center;
  transition: 0.5s;
}

.worker-img:hover {
  border-radius: 20%;
  width: 170px;
}

.img-content {
  margin-bottom: 10px;
  border-spacing: border-box;
  display: inline-flex;
}
