header {
  display: inline-block;
  width: 100%;
  position: fixed;
  background-color: #000;
  top: 0;
  height: 100px;
}

#other-links {
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  transition: 0.5s;
}
#other-links:hover {
  color: white;
}

.logo {
  font-size: 50px;
  font-weight: 700px;
  letter-spacing: 0.15em;
  text-decoration: none;
}
  
.other-links {
  float: left;
  font-size: large;
  list-style-type: none;
}
  
.links {
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  float: right;
  display: inline-flex;
  padding: 15px;
}