// background effect

$total: 200;
$time: 10s;

html, body, .wrap {
    height: 100%;
}

body {
    background: black;
    background-image: radial-gradient(circle at center, white 0%, #222 10%, black 60%);
    overflow: hidden;
}

.wrap {
    transform-style: preserve-3d;
    perspective: 800px;
}

.tri {
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}

@for $i from 1 through $total {
    $size: random(50) * 1px;
    $rotate: random(360) * 1deg;
    .tri:nth-child(#{$i}){
        border-top: $size solid hsla(random(360), 100%, 50%, 1);
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        margin-left: -$size/2;
        margin-top: -$size/2;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        transform: rotate($rotate) translate3d(0,0,-1500px) scale(0);
        animation: anim#{$i} $time infinite linear;
        animation-delay: $i * -($time/$total);
        opacity: 0;
    }
    
    @keyframes anim#{$i}{
        0% {
            opacity: 1;
            transform: rotate($rotate * 1.5) translate3d(random(1000) * 1px, random(1000) * 1px,1000px) scale(1);
        }
    }
}

// background effect


* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, serif;
}
header {
  margin-left: 15px;
  display: inline-block;
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
    font-size: large;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .auth {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    display: inline-flex;
    padding: 15px;
  }
  .sign-in {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
  }

  button {
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    height: 50px;
    background-color: green;
    color: #fff;
  } 
  button:hover {
    background: darkgreen;
    transition: 0.5ms;
  } 
  
  .logo {
    font-size: 50px;
    font-weight: 700px;
    letter-spacing: 0.15em;
  }
  .other-links {
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .other-links:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: grey;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .other-links:hover:after { 
    width: 100%; 
    left: 0; 
  }

.info {
  background-color: rgb(25, 238, 227);
  height: 40px;
  color: rgb(138, 159, 253);
  line-height: 40px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex {
  display: flex;
  // margin-top: 7%;
  transform: translateY(50%);
}

.flextwo {
  padding: 20px;
  margin: 10px;
  color: #000;
  height: inherit;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  color: #ddd;
  font-size: 1.2em;
  line-height: 1.5;
}
small {
  font-size: 15px;
}

.column {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: inherit;
  margin: auto;
  // align-items: center;
}
.image {
  float: right;
}
.img {
  float: right;
  width: 50%;
  right: 0;
  margin-bottom: 100px !important;

}
.shift {
  align-content: center;
  align-items: center;
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: inherit;

}

.connect {
  margin-left: 10%;
  word-spacing: 10px;
  letter-spacing: 5px;
}

.flexrest {
  background: transparent !important;
  border-spacing: border-box;
  display: flex;
  margin: 10px;
  width: 25%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards {
  height: inherit;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send-chat.fa {
  color: green;
}

.workers-cards {
  padding: 20px;
  margin: 10px;
  width: 100%;
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background: #fff;
}

.worker-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-left: 20px;
  align-content: center;
  align-items: center;
}

.img-content {
  margin-bottom: 10px;
  border-spacing: border-box;
  display: inline-flex;
}
