git * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, serif;
}
header {
  margin-left: 15px;
  display: inline-block;
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    float: left;
    font-size: large;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .auth {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    display: inline-flex;
    padding: 15px;
  }
  .sign-in {
    margin-right: 20px;
    text-decoration: none;
    color: #000;
  }

  button {
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    height: 50px;
    background-color: green;
    color: #fff;
  } 
  button:hover {
    background: darkgreen;
    transition: 0.5ms;
  } 
  
  .logo {
    font-size: 50px;
    font-weight: 700px;
  }
  .other-links {
    margin-top: 20px;
  }

.info {
  background-color: rgb(25, 238, 227);
  height: 40px;
  /* width: 250px; */
  color: rgb(138, 159, 253);
  line-height: 40px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social{
  justify-content: space-evenly;
  padding-top: 15%;
  color: #000;
  font-size: 20px;;
}

.social .fa{
  padding: 20%;
  color: #000;
}

.send-chat {
  position: relative;
  left: 10px;
}
.send-chat i{
  font-size: 25px;
}

.flex {
  display: flex;
  /* margin: 10px; */
}

.flextwo {
  padding: 20px;
  margin: 10px;
  color: #000;
  /* width: 25%; */
  height: inherit;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about {
  color: #000;
  font-size: 1.5em;
  line-height: 1.5;
}
small {
  font-size: 15px;
}

.column {
  display: flex;
  margin-top: 30px;
  /* width: 100%; */
  padding: 10px;
  height: inherit;
  margin-left: 50px;
}
.image {
  float: right;
  margin-right: 5px;
}
.img {
  float: right;
  margin-right: 0;
  width: 50%;
  right: 0;
  margin-bottom: 100px !important;

}
.shift {
  align-content: center;
  align-items: center;
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: inherit;

}

.connect {
  margin-left: 10%;
  word-spacing: 10px;
  letter-spacing: 5px;
}

.flexrest {
  background: transparent !important;
  border-spacing: border-box;
  display: flex;
  margin: 10px;
  width: 25%;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards {
  height: inherit;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send-chat.fa {
  color: green;
}

.workers-cards {
  padding: 20px;
  margin: 10px;
  width: 100%;
  position: relative;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background: #fff;
}

.worker-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  margin-left: 20px;
  align-content: center;
  align-items: center;
}

.img-content {
  margin-bottom: 10px;
  border-spacing: border-box;
  display: inline-flex;
}
